NAME = moto
MOTO_HOSTNAME = 192.168.100.1
MOTO_USERNAME = 
MOTO_PASSWORD = 
INFLUXDB_URL = http://localhost:8086
INFLUXDB_TOKEN = 
INFLUXDB_ORG = 
INFLUXDB_BUCKET = 
ENV_VARS = -e MOTO_HOSTNAME -e MOTO_USERNAME -e MOTO_PASSWORD -e INFLUXDB_URL -e INFLUXDB_TOKEN -e INFLUXDB_ORG -e INFLUXDB_BUCKET -e MODE
